// base = #3f51b5
// accent = #5af158
// cancel = #e51c23

@import 'typographic'
@import 'normalize'

t-presets(major-sixth)

html
  font-size: 12px
  @media (min-width: 600px)
    font-size: 14px
  @media (min-width: 800px)
    font-size: 16px
  @media (min-width: 1000px)
    font-size: 18px


base = #2AD9FE
accent = #54BC12
cancel = #EC4C66
text = #CBCCD0
bg = #191A1E
card = #212227

cf()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both

*
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box

body
	background bg
	color text
	font-weight 300
	font-family: 'Roboto', sans-serif;
	margin 0
	padding 0

a, a:visited
	color base
	text-decoration none

header
	background card
	box-shadow 1px 1px 3px rgba(black, 0.3)
	color bg
	padding 20px 5%
	text-align center
	cf()
	.site-title
		font-weight 100
		margin 0 40px 0 0
		color text
		float left
		sub
			font-size 12px
			margin-left 10px
	nav
		float left

.page-title
	text-align center
	font-weight 100

nav
	ul
		margin 0
		padding 0
		list-style none
	li
		float left
		margin 0
		padding 0
	a
		display block
		padding 10px 20px

input[type=range]{
    -webkit-appearance: none;
    width 150px
    background transparent
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: base;
    box-shadow 0 0 0 2px rgba(base, 0.3)
    margin-top: -8px;
    transition all 0.2s ease
}


input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]:focus::-webkit-slider-thumb {
    box-shadow 0 0 0 6px rgba(base, 0.3)
}

input[type=number]
	box-shadow 1px 1px 3px rgba(black, 0.2) inset
	font-size: 16px;
	font-weight: bold;
	-webkit-appearance: none;
	border: none;
	border-bottom: 2px solid base;
	padding: 7px 10px;
	width: 90px;


select
	-webkit-appearance: none;
	border-radius: 4px;
	font-size: 16px;
	font-weight: bold;
	padding: 7px 10px;


.docs
    .main-wrapper
        padding 80px 0
        background: #FFF;
        main
            color bg
            max-width 1200px
            width 80%
            margin 0 auto
pre
    background bg
    color #FFF
    padding 20px

table
	margin 20px auto
	border-collapse collapse
	text-align left
	box-shadow 1px 1px 3px rgba(black, 0.2)
	td, th
		border 1px solid #FFF
		padding 10px 30px
	tr
		&:nth-child(odd)
			background #eee


@import at-ui